@model IEnumerable<CCVProyectoP1.Models.Actividad>

<h1>Actividades para la Clase</h1>

@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var actividad in Model)
        {
            <li>
                <h2>@actividad.Titulo</h2>
                <p>@actividad.Descripcion</p>
                <p><strong>Fecha de entrega:</strong> @actividad.FechaEntrega.ToString("dd/MM/yyyy")</p>

                @* Enlace para descargar el archivo solo si existe *@
                @if (!string.IsNullOrEmpty(actividad.NombreArchivo) && !string.IsNullOrEmpty(actividad.RutaArchivo))
                {
                    <p>
                        <a asp-controller="Actividades" asp-action="DescargarArchivo" asp-route-id="@actividad.Id">
                            Descargar archivo relacionado: @actividad.NombreArchivo
                        </a>
                    </p>
                }
            </li>
        }
    </ul>
}
else
{
    <p>No hay actividades para esta clase actualmente.</p>
}
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-dark" type="button" onclick=" history.back()">Regresar</button>
</div>
